{% extends "base.html" %}
{% block content %}
<h1 class="text-2xl font-bold mb-4">{{ table_name | title }}</h1>

<table class="min-w-full bg-white">
    <thead>
        <tr>
            {% for column in columns %}
            {% if column != 'id' %}
            <th class="px-6 py-3 border-b-2 border-gray-300 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                {{ column }}
            </th>
            {% endif %}
            {% endfor %}
            {% for column in core_columns %}
            <th class="px-6 py-3 border-b-2 border-gray-300 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                Core: {{ column }}
            </th>
            {% endfor %}
            {% if 'edit' in user_permissions %}
            <th class="px-6 py-3 border-b-2 border-gray-300 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                Actions
            </th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for table_data, core_data in data %}
        <tr>
            {% for column in columns %}
            {% if column != 'id' %}
            <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-300">
                {{ table_data[column] }}
            </td>
            {% endif %}
            {% endfor %}
            {% for column in core_columns %}
            <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-300">
                {{ core_data.get(column, '') }}
            </td>
            {% endfor %}
            {% if 'edit' in user_permissions %}
            <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-300">
                <a href="{{ url_for('data.edit_entry', table_name=table_name, entry_id=table_data['id']) }}" class="text-indigo-600 hover:text-indigo-900">Edit</a>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>

{% if 'edit' in user_permissions %}
<div class="mt-4">
    <a href="{{ url_for('data.add_entry', table_name=table_name) }}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
        Add New Entry
    </a>
</div>
{% endif %}

{% endblock %}
